extends layout

block content
  div.col-sm-4.model
    h1= title
    img(src= list.imgurl, alt=list.model)
    div= list.year
  div.col-sm-8.part-list
    table.table.table-striped
      thead
        tr
          th Part
          th Description
          th Cost
      tbody
        each obj in list.parts
          tr
            td= obj.name
            td= obj.des
            td= obj.price